

body{
    background: url(../images/bg_cinema.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn_delete{
    border: none !important;
    background: none !important;
}

.auth_modal{
    background: rgb(0, 0, 0, 0.7)
}

.btn_profile{
    background: rgb(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;

}

.form_user input{
    background: rgb(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
}

.form_user input:focus{
    background: rgb(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
}

.form_user textarea{
    background: rgb(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
}

.form_user textarea:focus{
    background: rgb(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
}

input:-internal-autofill-selected {
    background-color: black !important;
}


